container_commands:
  01_syncdb:    
    command: "python manage.py syncdb --noinput"
    leader_only: true
  02_createadmin:
    command: "python manage.py loaddata study_enrollment/fixtures/initialize_data.yaml"
    leader_only: true
    ignoreErrors: true
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: django_study_enrollment/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: django_study_enrollment.settings
