{% extends "study_enrollment/base.html" %}

{% block main %}

<h1>Eligibility Requirements</h1>

<p>
  Unfortunately, not everyone can enroll in this study. We need to ask you
  some questions to see if you meet our eligibility requirements.
</p>

<hr>

<form action="{% url 'requirements' %}" method="post">
  {% csrf_token %}
  {% for req_item in req_items %}
    <p>{{ req_item.requirement.question }}</p>
    {% for choice in req_item.req_choices %}
      <input type="radio" name="{{ req_item.requirement.question }}" value="{{ choice.answer }}">
      {{ choice.answer }}
      </input>
    {% endfor %}
  {% endfor %}
  <p>
    <input type="submit" value="Enter answers" />
  </p>
</form>

{% endblock main %}
